@import "tailwindcss";

index {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.line {
  width: 100%;
  height: 3px;
}

ul li button {
  display: flex;
  gap: 5px;
}

.popUpForm input {
  border: 1.2px solid #3030306c;
}

.popUpForm input:focus {
  border-color: black;
}
